<footer id="footer" class="max-w-7xl mx-auto w-full px-4 tablet:px-8 mt-8 tablet:mt-12 desktop:mt-16">
    <div class="w-full max-w-screen-xl mx-auto py-4 px-4 sm:px-8 lg:px-12">
        
        <hr class="my-4 border-zinc-200 sm:mx-auto dark:border-zinc-700 tablet:my-3" />
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="flex flex-col w-full gap-4 py-4  ">
                {{/*  Name  */}}
                <a href="https://aishikpyne.com/" class=" mb-4 tablet:mb-0">
                    <span
                    class=" text-center whitespace-nowrap font-signature text-lg font-semibold dark:text-white"
                    >Aishik Pyne</span
                    >
                </a>
                {{/*  Nav  */}}
                <nav class="flex flex-col items-start justify-between gap-6 tablet:flex-row">
                    <div class="flex flex-col flex-wrap justify-start tablet:justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200 tablet:flex-row">
                        
                        <a class="transition hover:text-pink-500 dark:hover:text-pink-400" href="/about">About</a>
                        <a class="transition hover:text-pink-500 dark:hover:text-pink-400" href="/projects">Projects</a>
                        <a class="transition hover:text-pink-500 dark:hover:text-pink-400" href="/articles">Articles</a>
                        <a class="transition hover:text-pink-500 dark:hover:text-pink-400" href="/photography">Photography</a>
                    </div>
                    <p class="text-sm text-zinc-400 dark:text-zinc-500">© <!-- -->2023<!-- --> Aishik Pyne. All rights reserved.</p>
                </nav>

            </div>
        </div>
    </div>
</footer>