<section id="articles_news" class="max-w-7xl mx-auto w-full 
        px-4 tablet:px-8
        mt-8 tablet:mt-12 desktop:mt-16">
    <div class="relative mx-auto 
            max-w-2xl tablet:max-w-4xl desktop:max-w-5xl
            tablet:px-4 desktop:px-8">
        <div class="relative tablet:px-4 desktop:px-6">

            <div class="grid grid-cols-1 tablet:grid-cols-2 gap-8">
                {{ partial "common/top_articles.html" . }}

                <div class="flex flex-col gap-8 tablet:pl-8 desktop:pl-12">
                    {{ partial "common/top_news.html" . }}
                    {{ partial "common/subscribe_newsletter.html" }}
                    {{ partial "common/book_appointment.html" }}

                </div>
            </div>

        </div>
    </div>
    </div>
</section>