<section
  id="news"
  class="mx-auto mt-8 w-full max-w-7xl px-4 tablet:mt-12 tablet:px-8 desktop:mt-16"
>
  <div class="relative mx-auto max-w-2xl px-4 tablet:max-w-3xl tablet:px-4 desktop:max-w-5xl desktop:px-8">
    <div class="mb-8 text-2xl font-bold text-pink-500">News</div>

    <div class="flex flex-col">
      {{ range $.Site.Data.news.news }}
        {{ $datetime := .date | time  }}
        <li class="group relative flex flex-row items-center">
          <time class="relative z-10 order-first flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5" datetime="{{ $datetime.Format `Jan 2, 2006` }}"><span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true"><span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>{{ $datetime.Format "Jan 2, 2006" }} </time>
          <div class="grow relative z-10 pl-3 prose prose-sm flex items-center text-zinc-600 dark:text-zinc-400">
            {{ .title }}
          </div>
        </li>
      {{ end }}
      
    </div>
</section>
