<section id="photography" class="max-w-7xl mx-auto w-full 
      px-4 tablet:px-8
      mt-8 tablet:mt-12 desktop:mt-16">
    <div class="relative mx-auto 
      max-w-2xl tablet:max-w-4xl desktop:max-w-5xl
      tablet:px-4 desktop:px-8">
        <div class="relative tablet:px-4 desktop:px-6">

            {{/*  Title  */}}
            <div class="text-pink-500 text-2xl mb-8 font-bold">Photography</div>

            {{/*  Gallery  */}}
            <div class="grid gap-3 grid-cols-8 grid-rows-5 grid-flow-col">
                <!-- Buddha -->
                <div class="row-span-3 col-span-2">
                    {{ $image := resources.Get "images/gallery/LangzaBuddhaMilkyWay.png" }}
                    {{ $image := $image.Resize "x1600" }}
                    {{ with $image }}
                    <figure class="relative h-full group  transition-all  duration-500 ">
                        <img class="h-full object-cover rounded-xl" src="{{ .RelPermalink }}" alt="image description">
                        <figcaption
                            class="absolute opacity-0 px-4 text-lg text-white bottom-6 group-hover:opacity-100 group-focus:opacity-100 duration-300">
                            <p class="text-sm">Milky way from Langza</p>
                            <hr class="mb-1">
                            <p class="text-xs"><i class="fa fa-map-marker"></i> Naggad, Himachal Pradesh, India</p>
                        </figcaption>
                    </figure>
                    {{ end }}
                </div>

                <!-- Moon -->
                <div class="row-span-2 col-span-2">
                    {{ $image := resources.Get "images/gallery/FullMoon.png" }} {{ with
                    $image }}
                    <figure class="relative h-full group  transition-all  duration-500 ">
                        <img class="h-full object-cover rounded-xl" src="{{ .RelPermalink }}" alt="image description">
                        <figcaption
                            class="absolute opacity-0 px-4 text-lg text-white bottom-6 group-hover:opacity-100 group-focus:opacity-100 duration-300">
                            <p class="text-sm">Full Moon</p>
                            <hr class="mb-1">
                            <p class="text-xs"><i class="fa fa-map-marker"></i> Kolkata, India</p>
                        </figcaption>
                    </figure>
                    {{ end }}
                </div>

                <!-- Duwara -->
                <div class="row-span-2 col-span-3">
                    {{ $image := resources.Get "images/gallery/DuaraStarTrail.png" }}
                    {{ $image := $image.Fill "1200x800" }}
                    {{ with $image }}
                    <figure class="relative h-full group  transition-all  duration-500 ">
                        <img class="h-full object-cover rounded-xl" src="{{ .RelPermalink }}" alt="image description">
                        <figcaption
                            class="absolute opacity-0 px-4 text-lg text-white bottom-6 group-hover:opacity-100 group-focus:opacity-100 duration-300">
                            <p class="text-sm">Perpendicular axis Star Trail </p>
                            <hr class="mb-1">
                            <p class="text-xs"><i class="fa fa-map-marker"></i> Duwara, Himachal Pradesh, India</p>
                        </figcaption>
                    </figure>
                    {{ end }}
                </div>

                <!-- Polaris -->
                <div class="row-span-3 col-span-4">
                    {{ $image := resources.Get "images/gallery/PolarisStarTrail.png" }} {{
                    with $image }}
                    <figure class="relative h-full group  transition-all  duration-500 ">
                        <img class="h-full object-cover rounded-xl" src="{{ .RelPermalink }}" alt="image description">
                        <figcaption
                            class="absolute opacity-0 px-4 text-lg text-white bottom-6 group-hover:opacity-100 group-focus:opacity-100 duration-300">
                            <p class="text-sm">Polaris centered Star Trail</p>
                            <hr class="mb-1">
                            <p class="text-xs"><i class="fa fa-map-marker"></i> Duwara, Himachal Pradesh, India</p>
                        </figcaption>
                    </figure>
                    {{ end }}
                </div>

                <!-- Naggad -->
                <div class="row-span-2 col-span-3">
                    {{ $image := resources.Get "images/gallery/NaggadStarTrail.png" }}
                    {{ $image := $image.Resize "800x" }}
                    {{ with $image }}


                    <figure class="relative h-full group  transition-all  duration-500 ">
                        <img class="h-full object-cover rounded-xl" src="{{ .RelPermalink }}" alt="image description">
                        <figcaption
                            class="absolute opacity-0 px-4 text-lg text-white bottom-6 group-hover:opacity-100 group-focus:opacity-100 duration-300">
                            <p class="text-sm">My first Star Trail</p>
                            <hr class="mb-1">
                            <p class="text-xs"><i class="fa fa-map-marker"></i> Naggad, Himachal Pradesh, India</p>
                        </figcaption>
                    </figure>
                    {{ end }}
                </div>

                <!-- Night sky -->
                <div class="row-span-3 col-span-2">
                    {{ $image := resources.Get "images/gallery/LangzaBuddhaMilkyWay.png" }} {{
                    with $image }}

                    <figure class="relative h-full group  transition-all  duration-500 ">
                        <img class="h-full object-cover rounded-xl" src="{{ .RelPermalink }}" alt="image description">
                        <figcaption
                            class="absolute opacity-0 px-4 text-lg text-white bottom-6 group-hover:opacity-100 group-focus:opacity-100 duration-300">
                            <p class="text-sm">Milky way from Langza</p>
                            <hr class="mb-1">
                            <p class="text-xs"><i class="fa fa-map-marker"></i> Spiti Valley, India</p>
                        </figcaption>
                    </figure>

                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>